<aside class="w-full md:w-[250px] p-2 border-r border-gray-200 shadow-sm h-screen">
    <!-- Section: Profile -->
    <div class="mb-6 border-b-2">
        <div class="flex items-center space-x-4 p-2">
            <img src="/profilehome.jpg" alt="Profile Image" class="w-12 h-12 rounded-full shadow">
            <div>
                <h2 class="text-lg font-bold text-gray-700">Nightkun</h2>
                <p class="text-sm text-gray-500">ยินดีต้อนรับ!</p>
            </div>
        </div>
    </div>

    <!-- Section: Menu -->
    <nav class="mb-6">
        <ul class="space-y-3">
            <li
                class="hover:bg-blue-500 p-2 rounded-lg hover:text-white <%= active === 'home' ? 'bg-blue-500 text-white' : '' %>">
                <a href="/"
                    class="flex items-center space-x-3 text-gray-700 hover:text-white <%= active === 'home' ? 'text-white' : '' %>">
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 16C9.85038 16.6303 10.8846 17 12 17C13.1154 17 14.1496 16.6303 15 16"
                            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                        <path
                            d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274"
                            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                    <span>หน้าหลัก</span>
                </a>
            </li>
            <li class="hover:bg-blue-500 p-2 rounded-lg hover:text-white">
                <a href="https://blog.nightkun.com" target="_blank"
                    class="flex items-center space-x-3 text-gray-700 hover:text-white">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg height="22px" width="22px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                        <path style="fill:#FFA929;" d="M477.166,202.92h-26.54c-24.429,0-44.233-19.804-44.233-44.233v-17.693
                        c0-73.288-59.412-132.7-132.7-132.7h-132.7c-73.288,0-132.7,59.412-132.7,132.7v61.927v176.933
                        c0,68.402,55.451,123.853,123.853,123.853h247.706c68.402,0,123.853-55.451,123.853-123.853V229.46
                        C503.706,214.802,491.824,202.92,477.166,202.92z M158.687,140.994h106.16c14.658,0,26.54,11.882,26.54,26.54
                        c0,14.658-11.882,26.54-26.54,26.54h-106.16c-14.658,0-26.54-11.882-26.54-26.54C132.147,152.876,144.029,140.994,158.687,140.994z
                         M344.467,371.006h-185.78c-14.658,0-26.54-11.882-26.54-26.54s11.882-26.54,26.54-26.54h185.78c14.658,0,26.54,11.882,26.54,26.54
                        S359.124,371.006,344.467,371.006z" />
                        <path style="fill:#F78C20;" d="M43.68,379.853V202.92v-61.927c0-73.288,59.412-132.7,132.7-132.7h-35.387
                        c-73.288,0-132.7,59.412-132.7,132.7v61.927v176.933c0,68.402,55.451,123.853,123.853,123.853h35.387
                        C99.131,503.706,43.68,448.255,43.68,379.853z" />
                        <path
                            d="M477.166,194.626h-26.54c-19.818,0-35.94-16.122-35.94-35.94v-17.693C414.687,63.249,351.438,0,273.693,0h-132.7
                        C63.249,0,0,63.249,0,140.994v185.78c0,4.581,3.713,8.294,8.294,8.294s8.294-3.712,8.294-8.294v-185.78
                        c0-68.597,55.808-124.406,124.406-124.406h132.7c68.597,0,124.406,55.809,124.406,124.406v17.693
                        c0,28.963,23.564,52.527,52.527,52.527h26.54c10.062,0,18.246,8.184,18.246,18.246v150.393c0,63.719-51.84,115.559-115.559,115.559
                        H132.147c-63.72,0-115.559-51.84-115.559-115.559V362.16c0-4.581-3.713-8.294-8.294-8.294S0,357.578,0,362.16v17.693
                        C0,452.72,59.28,512,132.147,512h247.706C452.72,512,512,452.72,512,379.853V229.46C512,210.253,496.373,194.626,477.166,194.626z" />
                        <path d="M158.687,202.367h106.16c19.207,0,34.834-15.627,34.834-34.834S284.054,132.7,264.847,132.7h-106.16
                        c-19.207,0-34.834,15.626-34.834,34.834S139.48,202.367,158.687,202.367z M158.687,149.287h106.16
                        c10.062,0,18.246,8.184,18.246,18.246c0,10.062-8.184,18.246-18.246,18.246h-106.16c-10.061,0-18.246-8.184-18.246-18.246
                        C140.441,157.472,148.626,149.287,158.687,149.287z" />
                        <path d="M158.687,379.3h185.78c19.207,0,34.834-15.627,34.834-34.834c0-19.207-15.627-34.834-34.834-34.834h-44.233
                        c-4.581,0-8.294,3.712-8.294,8.294c0,4.581,3.712,8.294,8.294,8.294h44.233c10.062,0,18.246,8.184,18.246,18.246
                        c0,10.062-8.184,18.246-18.246,18.246h-185.78c-10.061,0-18.246-8.184-18.246-18.246c0-10.062,8.185-18.246,18.246-18.246h106.16
                        c4.581,0,8.294-3.712,8.294-8.294c0-4.581-3.712-8.294-8.294-8.294h-106.16c-19.207,0-34.834,15.627-34.834,34.834
                        C123.853,363.674,139.48,379.3,158.687,379.3z" />
                    </svg>
                    <span>บทความ</span>
                </a>
            </li>
            <li
                class="hover:bg-blue-500 p-2 rounded-lg hover:text-white <%= active === 'activities' ? 'bg-blue-500 text-white' : '' %>">
                <a href="/activities"
                    class="flex items-center space-x-3 text-gray-700 hover:text-white <%= active === 'activities' ? 'text-white' : '' %>">
                    <svg width="22px" height="22px" viewBox="0 0 256 256"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"
                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                        xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                            d="M191.33,62.954c1.527,0.181 1.928,0.415 2.664,0.866c3.049,1.868 3.769,6.697 1.107,9.358c-1.111,1.112 -2.657,1.695 -4.242,1.758l-96.868,0c-1.537,-0.061 -1.955,-0.262 -2.724,-0.654c-3.327,-1.695 -4.297,-6.811 -1.519,-9.589c1.111,-1.111 2.657,-1.695 4.243,-1.757l96.868,0c0.157,0.006 0.314,0.012 0.471,0.018Z"
                            style="fill:#1d61e1;fill-rule:nonzero;" />
                        <path
                            d="M136.145,94.956c5.011,0.395 7.919,8.167 2.686,11.188c-0.635,0.367 -1.337,0.616 -2.062,0.73c-0.31,0.049 -0.624,0.066 -0.938,0.074l-41.84,0c-5.159,-0.135 -8.337,-8.115 -3,-11.196c0.635,-0.367 1.337,-0.615 2.061,-0.73c0.31,-0.049 0.624,-0.066 0.939,-0.074l41.84,0c0.105,0.003 0.209,0.006 0.314,0.008Z"
                            style="fill:#1d61e1;fill-rule:nonzero;" />
                        <path
                            d="M191.128,94.954c4.424,0.299 7.487,6.236 4.249,9.942c-1.123,1.285 -2.793,2.013 -4.518,2.052l-30.277,0c-4.361,-0.098 -7.649,-5.68 -4.854,-9.527c1.11,-1.526 2.945,-2.43 4.854,-2.473l30.277,0c0.09,0.002 0.179,0.004 0.269,0.006Z"
                            style="fill:#1d61e1;fill-rule:nonzero;" />
                        <path
                            d="M191.128,155.586c4.461,0.3 7.443,6.286 4.249,9.941c-1.123,1.286 -2.793,2.014 -4.518,2.053l-30.277,0c-4.548,-0.102 -7.823,-6.165 -4.518,-9.948c1.123,-1.285 2.793,-2.014 4.518,-2.052l30.277,0c0.09,0.002 0.179,0.004 0.269,0.006Z"
                            style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;" />
                        <path
                            d="M136.281,155.588c4.251,0.335 7.268,5.763 4.54,9.518c-1.108,1.525 -2.951,2.424 -4.854,2.474l-41.976,0c-5.115,-0.134 -8.274,-8.152 -3,-11.196c0.635,-0.367 1.337,-0.616 2.061,-0.73c0.31,-0.05 0.624,-0.066 0.939,-0.074l41.976,0c0.105,0.002 0.209,0.005 0.314,0.008Z"
                            style="fill:#1d61e1;fill-rule:nonzero;" />
                        <path
                            d="M191.26,124.725c4.371,0.44 7.291,6.181 4.181,9.86c-1.12,1.325 -2.225,2.048 -4.582,2.126l-68.019,0c-4.558,-0.152 -7.78,-6.091 -4.582,-9.873c1.12,-1.325 2.224,-2.048 4.582,-2.127l68.019,0c0.133,0.005 0.267,0.009 0.401,0.014Z"
                            style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;" />
                        <path
                            d="M100.706,199.292c-24.359,0.84 -48.585,2.928 -72.448,6.347c-1.556,0.222 -3.733,0.54 -3.733,0.54c-11.662,1.38 -23.352,-8.08 -23.607,-20.551c-0.289,-42.436 -0.002,-84.769 0.003,-127.122l0.002,-14.221c0,0 0.128,-4.078 1.299,-7.251c3.154,-8.542 12.267,-14.419 21.588,-13.636c66.139,6.435 133.708,6.73 200.217,0.695c2.744,-0.249 5.486,-0.518 8.227,-0.776c0,0 0.702,-0.094 2.21,-0.076c10.783,0.265 20.396,9.542 20.618,20.719c0.309,47.21 0.003,94.335 -0.011,141.532c0,0 -0.134,4.181 -1.363,7.421c-3.307,8.722 -12.862,14.558 -22.376,13.365c-26.207,-3.649 -52.741,-5.999 -79.307,-6.943l0.001,0.044l0,5.878c15.996,2.139 31.752,6.107 46.937,11.438c0,0 4.243,1.819 4.555,5.332c0.319,3.603 -3.267,7.006 -6.871,6.463c-1.716,-0.259 -1.996,-0.591 -2.79,-0.868c-42.618,-14.74 -89.902,-16.767 -133.209,0.508c0,0 -3.387,0.814 -5.473,-0.53c-3.702,-2.386 -3.549,-8.8 1.549,-10.825c14.217,-5.646 28.976,-9.52 43.979,-11.576l0,-5.82l0.003,-0.087Zm133.305,-164.054c-6.231,0.092 -13.359,1.223 -20.194,1.774c-60.569,4.884 -121.882,4.784 -182.565,-0.838c-4.004,-0.371 -8.257,-1.521 -11.787,-0.521c-3.694,1.046 -6.463,4.625 -6.541,8.533c-0.312,47.102 -0.328,94.181 -0.007,141.278c0.103,5.025 4.817,9.434 10.116,8.807c17.904,-2.367 35.924,-4.614 54.005,-5.87c50.801,-3.53 101.921,-1.466 152.431,5.499c6.12,0.844 13.448,-0.767 13.602,-8.306c0.316,-47.083 0.321,-94.277 0.012,-141.476c-0.092,-4.603 -3.973,-8.697 -8.718,-8.876c-0.118,-0.003 -0.236,-0.004 -0.354,-0.004Z"
                            style="fill:#1d61e1;fill-rule:nonzero;" />
                        <path
                            d="M80.029,64.248c0,-0.778 -0.309,-1.523 -0.858,-2.073c-0.55,-0.55 -1.296,-0.859 -2.073,-0.859c-2.612,0 -6.414,0 -9.025,0c-0.778,0 -1.523,0.309 -2.073,0.859c-0.55,0.55 -0.859,1.295 -0.859,2.073c0,2.698 0,6.678 0,9.376c0,0.777 0.309,1.523 0.859,2.073c0.55,0.549 1.295,0.858 2.073,0.858c2.611,0 6.413,0 9.025,0c0.777,0 1.523,-0.309 2.073,-0.858c0.549,-0.55 0.858,-1.296 0.858,-2.073c0,-2.698 0,-6.678 0,-9.376Z"
                            style="fill:#1d61e1;" />
                        <path
                            d="M80.029,96.26c0,-0.777 -0.309,-1.523 -0.858,-2.073c-0.55,-0.55 -1.296,-0.858 -2.073,-0.858c-2.612,0 -6.414,0 -9.025,0c-0.778,0 -1.523,0.308 -2.073,0.858c-0.55,0.55 -0.859,1.296 -0.859,2.073c0,2.698 0,6.678 0,9.376c0,0.778 0.309,1.523 0.859,2.073c0.55,0.55 1.295,0.859 2.073,0.859c2.611,0 6.413,0 9.025,0c0.777,0 1.523,-0.309 2.073,-0.859c0.549,-0.55 0.858,-1.295 0.858,-2.073c0,-2.698 0,-6.678 0,-9.376Z"
                            style="fill:#1d61e1;" />
                        <path
                            d="M80.029,156.892c0,-0.778 -0.309,-1.523 -0.858,-2.073c-0.55,-0.55 -1.296,-0.859 -2.073,-0.859c-2.612,0 -6.414,0 -9.025,0c-0.778,0 -1.523,0.309 -2.073,0.859c-0.55,0.55 -0.859,1.295 -0.859,2.073c0,2.698 0,6.678 0,9.376c0,0.777 0.309,1.523 0.859,2.073c0.55,0.549 1.295,0.858 2.073,0.858c2.611,0 6.413,0 9.025,0c0.777,0 1.523,-0.309 2.073,-0.858c0.549,-0.55 0.858,-1.296 0.858,-2.073c0,-2.698 0,-6.678 0,-9.376Z"
                            style="fill:#1d61e1;" />
                        <path
                            d="M108.879,126.023c0,-0.777 -0.309,-1.523 -0.859,-2.072c-0.55,-0.55 -1.295,-0.859 -2.073,-0.859c-2.612,0 -6.413,0 -9.025,0c-0.777,0 -1.523,0.309 -2.073,0.859c-0.55,0.549 -0.858,1.295 -0.858,2.072c0,2.698 0,6.679 0,9.376c0,0.778 0.308,1.524 0.858,2.073c0.55,0.55 1.296,0.859 2.073,0.859c2.612,0 6.413,0 9.025,0c0.778,0 1.523,-0.309 2.073,-0.859c0.55,-0.549 0.859,-1.295 0.859,-2.073c0,-2.697 0,-6.678 0,-9.376Z"
                            style="fill:#1d61e1;fill-opacity:0.290196;" />
                    </svg>
                    <span>กิจกรรม</span>
                </a>
            </li>
            <li
                class="hover:bg-blue-500 p-2 rounded-lg hover:text-white <%= active === 'Happening' ? 'bg-blue-500 text-white' : '' %>">
                <a href="/happening-now"
                    class="flex items-center space-x-3 text-gray-700 hover:text-white <%= active === 'Happening' ? 'text-white' : '' %>">
                    <svg width="22px" height="22px" viewBox="0 0 48 48" id="Layer_2" data-name="Layer 2"
                        xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                    stroke: #000000;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }
                            </style>
                        </defs>
                        <path class="cls-1"
                            d="M38.68,10.36A3.6,3.6,0,0,0,34.8,7.1l-7.33.64-.17-2a1.2,1.2,0,0,0-1.29-1l-7.33.65a1.19,1.19,0,0,0-1,1.28l.12,1.89-7.32.64A3.58,3.58,0,0,0,7.2,13.08L9.33,37.45a3.57,3.57,0,0,0,3.88,3.25l.78-.06.17,2.06a1.2,1.2,0,0,0,1.3,1l4.12-.36a1.19,1.19,0,0,0,1.08-1.28v0l-.18-2,9.71-.85.17,2.06a1.19,1.19,0,0,0,1.3,1.08L35.77,42a1.2,1.2,0,0,0,1.09-1.3l-.18-2,.78-.08a3.59,3.59,0,0,0,3.26-3.88Zm-8.37,2.43a4.52,4.52,0,0,1,4.9,4.1h0c.36,4.12-2,.8-4.45,1s-4.2,3.86-4.56-.22a4.52,4.52,0,0,1,4.08-4.92ZM15.9,14.05a4.53,4.53,0,0,1,4.9,4.12c.35,4.11-2,.79-4.45,1s-4.2,3.86-4.55-.23a4.5,4.5,0,0,1,4-4.92h.05Zm18.19,17.3a2.89,2.89,0,0,1-2.61,3.09L25,35l-6.51.57A2.85,2.85,0,0,1,15.38,33L14.66,25a.62.62,0,0,1,.54-.69.63.63,0,0,1,.38.09c2.34,1.32,5.15,4.74,8.84,4.42s5.88-4.19,7.94-5.9a.64.64,0,0,1,.89.11.69.69,0,0,1,.14.34Z" />
                    </svg>
                    <span>เกิดขึ้นตอนนี้</span>
                </a>
            </li>
            <li
                class="hover:bg-blue-500 p-2 rounded-lg hover:text-white <%= active === 'pribta' ? 'bg-blue-500 text-white' : '' %>">
                <a href="/pribta"
                    class="flex items-center space-x-3 text-gray-700 hover:text-white <%= active === 'pribta' ? 'text-white' : '' %>">
                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg height="22px" width="22px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 49.99 49.99" xml:space="preserve">
                        <g>
                            <path style="fill:#030104;" d="M3.435,45.009c0,2.746,2.251,4.981,5.017,4.981h32.326c2.768,0,5.019-2.234,5.019-4.981V30.712
   c0-2.746-2.252-4.98-5.019-4.98H8.453c-2.767,0-5.017,2.234-5.017,4.98L3.435,45.009L3.435,45.009z M15.615,33.048v-5.239h14.417
   v5.239H15.615z M43.72,34.673v5.709c-0.047-0.005-0.088-0.021-0.137-0.021H5.755c-0.087,0-0.164,0.022-0.244,0.039v-5.727H43.72z
    M40.778,47.912H8.452c-1.622,0-2.941-1.303-2.941-2.903v-3.062c0.08,0.017,0.157,0.039,0.244,0.039h37.829
   c0.049,0,0.09-0.017,0.137-0.021v3.045C43.72,46.609,42.4,47.912,40.778,47.912z M43.72,30.712v2.336H31.032v-5.239h9.746
   C42.4,27.808,43.72,29.111,43.72,30.712z M8.452,27.808h6.163v5.239H5.51v-2.336C5.51,29.111,6.83,27.808,8.452,27.808z
    M4.016,6.907C3.684,7.368,3.551,7.929,3.642,8.489l1.081,6.659v6.371c0,1.172,0.953,2.125,2.125,2.125H44.43
   c1.172,0,2.125-0.953,2.125-2.125v-7.006H10.251l35.681-5.792l0.123-0.02l-1.122-6.916C44.765,0.751,43.883,0,42.836,0
   c-0.113,0-0.229,0.01-0.342,0.028L5.398,6.051C4.84,6.142,4.348,6.446,4.016,6.907z M44.304,16.764v4.631h-2.96l-2.394-4.631
   H44.304z M33.72,16.764l2.183,4.631H29.26l-2.395-4.631C26.865,16.764,33.72,16.764,33.72,16.764z M21.636,16.764l2.183,4.631
   H17.51l-2.395-4.631H21.636z M6.973,21.394v-4.631h2.913l2.183,4.631C12.069,21.394,6.973,21.394,6.973,21.394z M39.067,2.865
   l3.664-0.595l0.742,4.57l-5.615,0.911L39.067,2.865z M27.666,4.716l6.305-1.023l-1.41,4.92l-6.104,0.99L27.666,4.716z M16.78,6.483
   l5.806-0.942l-1.41,4.92l-5.604,0.91L16.78,6.483z M11.74,7.301l-1.41,4.921l-3.705,0.602L5.883,8.253L11.74,7.301z" />
                        </g>
                    </svg>
                    <span>พริบตา</span>
                </a>
            </li>
            <% if (userID) {%>
                <li
                    class="hover:bg-blue-500 p-2 rounded-lg hover:text-white <%= active === 'profile' ? 'bg-blue-500 text-white' : '' %>">
                    <a href="/@<%= userID.username %>"
                        class="flex items-center space-x-3 text-gray-700 hover:text-white <%= active === 'profile' ? 'text-white' : '' %>">
                        <svg width="22px" height="22px" viewBox="0 0 20 20" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <title>profile_round [#1342]</title>
                            <desc>Created with Sketch.</desc>
                            <defs>

                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -2159.000000)"
                                    fill="#000000">
                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                        <path
                                            d="M100.562548,2016.99998 L87.4381713,2016.99998 C86.7317804,2016.99998 86.2101535,2016.30298 86.4765813,2015.66198 C87.7127655,2012.69798 90.6169306,2010.99998 93.9998492,2010.99998 C97.3837885,2010.99998 100.287954,2012.69798 101.524138,2015.66198 C101.790566,2016.30298 101.268939,2016.99998 100.562548,2016.99998 M89.9166645,2004.99998 C89.9166645,2002.79398 91.7489936,2000.99998 93.9998492,2000.99998 C96.2517256,2000.99998 98.0830339,2002.79398 98.0830339,2004.99998 C98.0830339,2007.20598 96.2517256,2008.99998 93.9998492,2008.99998 C91.7489936,2008.99998 89.9166645,2007.20598 89.9166645,2004.99998 M103.955674,2016.63598 C103.213556,2013.27698 100.892265,2010.79798 97.837022,2009.67298 C99.4560048,2008.39598 100.400241,2006.33098 100.053171,2004.06998 C99.6509769,2001.44698 97.4235996,1999.34798 94.7348224,1999.04198 C91.0232075,1998.61898 87.8750721,2001.44898 87.8750721,2004.99998 C87.8750721,2006.88998 88.7692896,2008.57398 90.1636971,2009.67298 C87.1074334,2010.79798 84.7871636,2013.27698 84.044024,2016.63598 C83.7745338,2017.85698 84.7789973,2018.99998 86.0539717,2018.99998 L101.945727,2018.99998 C103.221722,2018.99998 104.226185,2017.85698 103.955674,2016.63598"
                                            id="profile_round-[#1342]">

                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>โปรไฟล์</span>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>

    <!-- Section: Promotion -->
    <div class="p-4 bg-blue-100 rounded-lg text-center shadow">
        <h3 class="text-lg font-bold text-blue-700">กิจกรรมพิเศษ</h3>
        <p class="text-sm text-gray-600 mt-2">ลุ้นรับอั่งเปา TrueMoney Wallet!</p>
        <a href="/promotions" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
            ดูเพิ่มเติม
        </a>
    </div>
</aside>